{% extends "base.html" %}

{% block title %} Hacky-SACC {% endblock %}

{% block contents %}

<br><br><br><br>
<!--
<div class="container col-lg-4 col-lg-offset-4">
  <div id="cf4a" class="animated bounce"> 
    <div id="cf4a" class="container4">
    <img src="/../static/female1.gif" height="100">
    <img src="/../static/male1.gif" height="100">
    <img src="/../static/female2.gif" height="100">
    <img src="/../static/male2.gif" height="100">
    <img src="/../static/female3.gif" height="100">
    <img src="/../static/male3.gif" height="100">
    </div>
-->

<div class="container col-lg-4 col-lg-offset-4">
  <div class="fadein">
    <img id="f3" src="/../static/female1.gif" height="100">
    <img id="f2" src="/../static/male1.gif" height="100">
    <img id="f1" src="/../static/female2.gif" height="100">
  </div>

  <h1>Search</h1>
  <div class="input-group">
    <form action="" method="POST">
      <input type="text" name="query" class="form-control" placeholder="Search Bar"></input> 
    </form>
    <div class="input-group-btn">
      <button class="btn btn-info" type="submit" value={{ID}} name="search">
	<span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
  <br>
  <br>
  {% if results %}
  {{ results }}
  {% for posts in results %}
  {{ print(post) }}
  {% endfor %}
  {% endif %}
</div>




{% endblock %}
