{% extends "base.html" %}

{% block contents %}

<br><br><br><br>
<div class="container col-lg-4 col-lg-offset-4">
  <div id="cf4a" class="animated bounce">
    <img id="img1" src="/../static/female1.gif" height="50">
    <img id="img2" src="/../static/male1.gif" height="50">
    <img id="img3" src="/../static/female2.gif" height="50">
    <img id="img4" src="/../static/male2.gif" height="50">
    <img id="img5" src="/../static/female3.gif" height="50">
    <img id="img6" src="/../static/male3.gif" height="50">
  </div>
  <h1 style="margin: 0 auto;">Search</h1>
  <div class="input-group">
    <form action="" method="POST">
      <input type="text" name="query" class="form-control" placeholder="Search Bar"></input> 
    </form>
    <div class="input-group-btn">
      <button class="btn btn-info" type="submit" value={{ID}} name="search">
	<span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</div>

<!--
{{ results }}
-->

{% endblock %}
